<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="isTesting" value="true" />
    <add key="JSONSettingsRecordId" value="1A9A3475-D511-4A1F-908F-6D71452CA9CF" />
    <add key="APISettingsRecordId" value="4F63E58E-8655-EB11-8128-005056B21276" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <connectionStrings>
    <add name="nahldev" connectionString="Url=https://nahldev.ptlplatform.com/nahldev; Username=service.user@nahl.co.uk; Password=VacsSoop&amp;81; authtype=Office365" />
    <add name="nahlsnd" connectionString="Url=https://nahlsnd.ptlplatform.com/nahlsnd; Username=service.user@nahl.co.uk; Password=VacsSoop&amp;81; authtype=Office365" />
    <add name="nahluat" connectionString="Url=https://nahlsnd.ptlplatform.com/nahlsnd; Username=service.user@nahl.co.uk; Password=VacsSoop&amp;81; authtype=Office365" />
    <add name="nahllive" connectionString="Url=https://nal.ptlplatform.com/nal; Username=service.user@nahl.co.uk; Password=VacsSoop&amp;81; authtype=Office365" />
  </connectionStrings>

</configuration>